/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    LAYOUT
*/

.container-big{
    width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

.margin-bottom{
    margin-bottom: 20px;
}

/* 
    HEADER
*/

header{
    margin-bottom: 80px;
}

.main-nav-container{
    display: flex;
    justify-content: space-between;
}

.main-nav-container nav ul li{
    display: inline-block;
}

.main-nav-container nav ul li a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.header-bottom{
    position: relative;
    top: 50px;
}

.info{
    display: flex;
}

.info .small-info{
    width: 40%;
}

.info .big-info{
    width: 60%;
}

/* 
    MAIN
*/

main section h2{
    margin-bottom: 40px;
}

.card-piani{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-piani > *{
    width: 30%;
    border: 1px solid grey;
    margin-bottom: 20px;
}

.card-piani > *:last-child{
    width: 100%;
}

.card-piani .card-header{
    border-bottom: 1px solid grey;
    padding: 10px;
}

.card-piani .card-body{
    padding: 10px;
}

/* section 3 dropbox business */

.card-business{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-business > *{
    width: 30%;
    border: 1px solid grey;
    margin-bottom: 20px;
}

/* section 4 dropbox user company */

.dropbox-user-company-bottom{
    display: flex;
}

.dropbox-user-company-bottom > *{
    width: calc(100% / 3);
}

.dropbox-user-company-companies{
    display: flex;
    flex-wrap: wrap;
}

.dropbox-user-company-companies > *{
    width: calc(100% / 2);
}

/* section 5 domande frequenti */

.bg-celeste{
    background-color: rgb(185, 207, 229);
}

/* section 6 domande frequenti */

.container-. small select{
    display: block;
}











/* 
    DEBUG
*/

.debug header{
    border: 2px solid red;
    background-color: lightcoral;
}

.debug header .main-nav-container{
    background-color: aqua;
}

.debug .main-nav-container nav ul li a:hover{
    background-color: grey;
}

.debug .header-bottom{
    border: 1px dashed darkblue;
    background-color: orange;
    min-height: 400px;
}

.debug .big-info{
    background-color: lightcoral;
    border: 1px dashed green;
}

.debug .small-info{
    background-color: lightslategrey;
    border: 1px dashed blue;
}

.debug .dropbox-user-company-bottom{
    background-color: orange;
    border: 1px solid grey;
    min-height: 300px;
}

.debug .dropbox-user-company-bottom > *{
    background-color: green;
    border: 1px solid blue;
}

.debug .dropbox-user-company-companies > *{
    border: 1px dashed pink;
}

.debug section.bg-celeste{
    min-height: 300px;
}

.debug select{
    background-color: lightblue;
    border: 1px solid crimson;
}